* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
}


body {
    background-color: #5E1675;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #fff;
    padding: 3rem;
    overflow: visible;
    border-radius: 4px;
    height: auto;
    width: fit-content;
}


span {
    cursor: pointer;
    font-size: 42px;
    color: #337357;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    user-select: none;
}

span.active {

    animation: jump 2s ease-in-out;
}

@keyframes jump {
    0% {
        transform: translate(0, 0) rotate(180deg);
    }

    100% {
        transform: scale(2.5) translate(0, -180px);
    }
}